amy-example
amy-message
src/build/
sounds/HS-TR-808-Drums.sf2
sounds/MuseScore_General.sf2
*.DS_Store*
loris-1.8/
__pycache__/
src/dist/
src/libamy.egg-info/
src/pcm_large.bin
src/pcm_small.bin

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
