
body {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}

h1, h2 {
    font-family: 'Quicksand', Helvetica, Sans-serif;
    background-color:#D90268;
    padding:0.5em;
    margin:0;
    color:white;
}

#startStop {
    text-align: center;
    border-radius: 0.5em;
    padding: 0.75em;
    color:white;
    font-weight: 400;
    text-decoration: none;
    background-color: #D90268;
}
#startStop:hover {
    background-color: black;
}


img {
    width: 100px;
}

#content {
    padding: 0.5em;
}

#footer {
    width: 100%;
    text-align: center;
}